@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 11%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 19%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
 
    --radius: 0.5rem;

    --sidebar: 0 0% 11%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 14.9%;
    --sidebar-accent: 0 0% 19%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-muted: 0 0% 15%;
    --sidebar-muted-foreground: 0 0% 63.9%;
    --sidebar-hover: 0 0% 19%;
    --sidebar-active: 0 0% 19%;
    --sidebar-ring: 0 0% 83.1%;
    --sidebar-primary: 221.2 83.2% 53.3%;
    --sidebar-primary-foreground: 210 40% 98%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
